<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="%black{%d{ISO8601}}   %highlight{%-5level} %pid --- [%style{%15.-15t}{bright,blue}] %style{%-41C{1.}}{bright,yellow}: %msg%n%throwable" />
        </Console>
    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console" />
        </Root>

        <Logger name="com.epam.brest" level="trace"/>
    </Loggers>

</Configuration>
